#wrap{

}
#content{
	
}
#top{
	width:100%;
	height:30px;
	line-height: 30px;
	background: #000;
	color:#fff;
	font-size: 14px;
}
#top a{
	margin-left: 20px;
	color:#fff;
	text-decoration: none;

}
#head{
	
}
#head .logo{
	height: 60px;
	width: 100px;
	border:none;
}
#slide{

}
