
div#pic_focus{
	}
div#pic_focus div#outer{
	height:280px;
	width:420px;
	overflow:hidden;
	}
div#pic_focus ul#inner{
	width:2520px;
	position:relative;
	left:0px;
	top:0px;
	}
div#pic_focus ul#inner li{
	height:280px;
	list-style:none;
	float:left;
	}
div#pic_focus div#outer div#picnavs{
	position:relative;
	top:-30px;
	left:220px;
	height:20px;
	width:240px;
	border:1px solid red;
	}
div.picnav{
	height:20px;
	width:20px;
	margin:0 6px;
	float:left;
	background:#00a1e9;
	color:white;
	text-align:center;
	font:normal normal bold 14px/18px Verdana,黑体;
	cursor:pointer;
	}
div.picnav_on{
	background:#e42a2a;
	}
	
	/*

#outer{
	width:420px;
	height:280px;
	margin:50px auto;
	position:relative;
	overflow:hidden;
	background:#eee;
	box-shadow:10px 5px 15px #ccc;
	border-radius:5px;
	border:1px solid #ccc;
	}
#inner{display:block;
	width:2520px;
	height:280px;
	position:absolute;
	left:0;
	top:0;
	}
#inner li{display:block;
	width:420px;
	height:280px;
	float:left;
	font-size:72px;
	line-height:300px;
	text-align:center;
	content:#666;
	text-shadow:3px 3px 2px #999,5px 5px 2px #ccc;
	background:#eee;
	}
#nav_s{width:200px;
	height:40px;
	padding-left:600px;
	position:absolute;
	bottom:0;
	left:0;
	opacity:0.8;
	filter:alpha(opacity=80);
	}
#nav_s em{display:block;
	float:left;
	width:24px;
	height:24px;
	margin-right:8px;
	margin-top:8px;
	line-height:24px;
	text-align:center;
	font-size:14px;
	color:#333;
	font-style:normal;
	font-family:Arial;
	background:#eee;
	border-radius:12px;
	cursor:pointer;
	}
#nav_s .ehover{background:#360;
	color:#fff;
	}
#left,#right{ width:40px;
	height:100px;
	position:absolute;
	top:100px;
	background:#333;
	opacity:0.4;
	color:#fff;
	font-size:36px;
	text-align:center;
	line-height:100px;
	cursor:pointer;
	}
#left:hover,#right:hover{opacity:0.8}
#left{left:0;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	}
#right{right:0;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	}
	
	*/